<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Autocare</title>

		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link href="css/starter-template.css" rel="stylesheet">
	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" 
							data-toggle="collapse" data-target="#navbar" 
							aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Autocare</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						<li class="active"><a href="/invoices">Invoices</a></li>
						<li><a href="/files">Files</a></li>
						<li><a href="#" class="logout">Log out</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container">
			<div class="starter-template">
				<h1>Autocare File Management</h1>
				<p class="lead">Files are stored in the Amazon Cloud (S3), for unlimited storage capacity,
					and for access from anywhere!
				</p>
			</div>
			
			<div>
					<table>
							<tr>
									<th>Qty</th>
									<th>Part #</th>
									<th>Desc.</th>
									<th>Unit Price</th>
									<th>Markup</th>
							</tr>
							<tr>
									<td><input type="text" /></td>
									<td><input type="text" /></td>
									<td><input type="text" /></td>
									<td><input type="text" /></td>
									<td><input type="text" /></td>
							</tr>
					</table>
					
					<div>
						<input type="submit" id="newLineItemBtn" value="New Line Item" />
					</div>
					
					<div>
						<label for="envChargeRateInput">Env. Charge</label>
						<input type="text" id="envChargeRateInput" />
					</div>
					
					<div>
						<label for="taxRateInput">Tax</label>
						<input type="text" id="taxRateInput" />
					</div>
					
					<div>
						<input type="submit" id="applyMarkupBtn" value="Calculate" />
					</div>
					
					<div>
						<label for="resultInput">Total</label>
						<input type="text" readonly="readonly" id="resultInput" />
					</div>
			</div>
		</div>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		
		<script type="text/javascript">
			(function() {
				$(document).ready(function() {
					$("a.logout").click(function(e) {
						e.preventDefault();
						$.ajax({
							url: '/logout',
							method: 'POST',
							success: function() {
								document.location.href = "/"; 
							}
						});
						return false;
					});
					
					/*
					$("#applyMarkupBtn").click(function(e) {
						e.preventDefault();
						var unitPrice = parseFloat($("#priceInput").val());
						var markup = parseFloat($("#markupInput").val());
						var quantity = parseFloat($("#quantityInput").val());
						var taxRate = parseFloat($("#taxRateInput").val());
						var envChargeRate = parseFloat($("#envChargeRateInput").val());
						var total = quantity * unitPrice * 
								(1 + markup / 100.0) * 
								(1 + envChargeRate / 100.0) * 
								(1 + taxRate / 100.0);
						$("#resultInput").val(total.toFixed(2));
						return false;
					});
					
					$("#newLineItemBtn").click(function(e) {
						e.preventDefault();
						$("#templateLineItem").clone().appendTo("#lineItems");
						return false;
					});
					*/
				});
			})();
		</script>
	</body>
</html>
